name: nix-image

on:
  workflow_call:
    inputs:
      tags:
        type: string
        required: false
        default: |
          type=sha
          type=edge
          type=edge,suffix=-{{date 'X'}}
      push:
        type: boolean
        required: false
        default: false
    outputs:
      image-name:
        description: Image name
        value: ${{ jobs.build.outputs.image-name }}
      image-ref:
        description: Image reference
        value: ${{ jobs.build.outputs.image-ref }}

jobs:
  amd64:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: vexxhost/github-actions/nix-image@main
        id: build
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          push: ${{ inputs.push }}
    outputs:
      image-name: ${{ steps.build.outputs.image-name }}
      image-ref: ${{ steps.build.outputs.image-ref }}

  aarch64:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 10
    steps:
      - uses: vexxhost/github-actions/nix-image@main
        id: build
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          push: ${{ inputs.push }}
    outputs:
      image-name: ${{ steps.build.outputs.image-name }}
      image-ref: ${{ steps.build.outputs.image-ref }}

  manifest:
    runs-on: ubuntu-latest
    if: ${{ inputs.push }}
    needs:
      - amd64
      - aarch64
    permissions:
      id-token: write
      packages: write
    steps:
      - uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: meta
        with:
          images: ${{ needs.amd64.outputs.image-name }}
          tags: ${{ inputs.tags }}
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: int128/docker-manifest-create-action@a39573caa37b6a8a03302d43b57c3f48635096e2 # v2.13.0
        with:
          index-annotations: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          sources: |
            ${{ needs.amd64.outputs.image-ref }}
            ${{ needs.aarch64.outputs.image-ref }}
